<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @alert.location_id %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @alert.date_start %>
</p>
<p>
  <strong>End Date:</strong>
  <%= @alert.date_end %>
</p>

<p>
  <strong>Msg:</strong>
  <%= @alert.msg %>
</p>


<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
