<md-toolbar>
   <h1 class="md-toolbar-tools">Headcount</h1>
</md-toolbar>
<md-content >
    <div >
        <div class="btn-group-vertical">
        <a href="<%= url_for  root_path %>" class="btn btn-default">Home</a>
        <% if user_signed_in? %>
            <a href="<%= url_for  edit_user_registration_path %>" class="btn btn-default">Profile</a>
            <a href="/users/sign_out" class="btn btn-default">Logout</a>
        <% else %>
            <a href="<%= url_for  new_user_session_path %>" class="btn btn-default">Sign in</a>
            <a href="<%= url_for  new_user_registration_path %>" class="btn btn-default">Sign up</a>
        <% end %>

        <% if admin_signed_in? %>
            <a href="<%= url_for  admin_index_path %>" class="btn btn-default">Admin Home</a>
            <a href="/admins/sign_out" class="btn btn-default">Admin Logout</a>
        <% else %>
            <a href="<%= url_for  new_admin_session_path %>" class="btn btn-default">Admin SignIn</a>
            <a href="<%= url_for  new_admin_registration_path %>" class="btn btn-default">Admin Register</a>
        <% end %>

        </div>

    </div>
</md-content>
