<!DOCTYPE html>
<html lang="en"  ng-app="headcount" controller="HomeCtrl">

	<head>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	  <title>HeadcountApp</title>

	 	<% if current_page?('/welcome/index') or current_page?('/') %>
	 	<%= javascript_include_tag 'lodash', 'data-turbolinks-track' => true %>
	  <%=  realtime_support %>
		<!-- <%=  realtime_message_handler %> -->
    <!--  realtime_message_console_logger -->
	  <% end %>
	 <%= #if current_page?('/welcome/index') or current_page?('/') then

  	  javascript_include_tag 'application-angular', 'data-turbolinks-track' => true
  	#end
  	%>


	 <%= stylesheet_link_tag("application") %>
	 <%= stylesheet_link_tag("custom") %>
	 <%= stylesheet_link_tag("base") %>
	  <%= csrf_meta_tags %>
	</head>
	<body>



		<div id="container" class="container page">
	  	<%= render 'layouts/header' %>
	    <%= render 'layouts/messages' %>

  			<%= yield %>


	    <%= render 'layouts/footer' %>
	  </div>
	</body>
</html>
