<!DOCTYPE html>
<html lang="en"  ng-app="headcount" controller="HomeCtrl">
<!-- data-framework="emberjs"  -->
	<head>
	  <title>HeadcountApp</title>
	  <%= realtime_support %>
	  <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
	 <%= if !current_page?('/admin') then 
	 			# javascript_include_tag 'https://cdn.socket.io/socket.io-1.0.6.js', 'data-turbolinks-track' => false
  	    javascript_include_tag 'application', 'data-turbolinks-track' => true
  	  end %>
	 
   <%= # realtime_support 
   %>
	 <%= stylesheet_link_tag("application") %>
	 <%= stylesheet_link_tag("custom") %>
	 <%= stylesheet_link_tag("base") %>
	  <%= csrf_meta_tags %>
	</head> 
	<body>
		
	  <%= render 'layouts/header' %>
	  <div class="container">
	    <%= render 'layouts/messages' %>
	    <div ng-view>
  			<%= yield %>
			</div>
	    <%= render 'layouts/footer' %>
	  </div>
	</body>
</html>